<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ta commande est validée !</h1>
    <p>
      Ta commande est bien validée.
    </p>
    <%ListItem.where(cart_id: Cart.where(user_id: @user.id)).each do |x|%>
      <div>
        <%= x.item.image_url%>
      </div>
    <%end%>

    
    <p> À très vite sur catmazon.fr !</p>
  </body>
</html>