<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut l'admin, une commande a été validé !</h1>
    <p>
      Une commande de <%=@sum%> € par <%=@user%>.
    </p>
  </body>
</html>