<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut l'admin, une commande a été validé !</h1>
    <p>
      félicitation à toi la richesse
    </p>
  </body>
</html>