
<h1 class="display-4 text-center">CatMazon</h1>
<p class="text-center"> Trouve le chat de tes<em> rêves</em></p>
<div class="bobo">
</div>

<style>
.bobo {
    width: 100%;
    height: 30em;
    background-image: url("https://media.ngroup.be/IMAGE/IMAGE-S1-00007/2800-chat-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>