<section>
<center><h1 class="display-4">CatMazon</h1>
<p>Trouve le chat de tes<em> rêves</em> !</p></center>

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center text-light">
    </div>
  </div>
</section>

<style>
.jumbotron {
    width: 99.25vw;
    height: 30em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
    url("https://media.ngroup.be/IMAGE/IMAGE-S1-00007/2800-chat-header.jpg");
    background-position: centr;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>